{% extends 'pizzas/base.html' %}


{% block page_header %}
<body bgcolor="navy"></body>
<font size="28"> Welcome to Shawty's</font>
<br>
<font size="12">We hope to provide you with the best pizzas with high quality
    ingredients. Travel through our page to find all of our options!</font>
<br><br>
<img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.tripadvisor.com%2FLocationPhotoDirectLink-g56833-d2075305-i109403398-Shorty_s_Pizza_Shack-Waco_Texas.html&psig=AOvVaw2cxqfFPxM86dBRrPcRp-er&ust=1670877714884000&source=images&cd=vfe&ved=0CA8QjRxqFwoTCMitzte28vsCFQAAAAAdAAAAABAE" height="200px" width="200px">
<img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fwww.papajohns.com%2Fshaq%2Fimg%2Fsar-hero.jpg&imgrefurl=https%3A%2F%2Fwww.papajohns.com%2Fspecials%2F&tbnid=PJzpY4Pk8kKlWM&vet=12ahUKEwj72K6Ut_L7AhV05skDHcZvAesQMygcegUIARCzAg..i&docid=YRg3r2KgsSuEPM&w=1200&h=700&q=pizza&ved=2ahUKEwj72K6Ut_L7AhV05skDHcZvAesQMygcegUIARCzAg"height="200px" width="200px">
<img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fgray-wwbt-prod.cdn.arcpublishing.com%2Fresizer%2Fg5wzOIXMWTriITsYhu773ZtG1jQ%3D%2F1200x675%2Fsmart%2Ffilters%3Aquality(85)%2Fcloudfront-us-east-1.images.arcpublishing.com%2Fgray%2FUAVFVMSJBFEPJNFGBNUPILH5K4.jpg&imgrefurl=https%3A%2F%2Fwww.nbc12.com%2F2022%2F06%2F04%2F5-highest-rated-pizza-restaurants-richmond%2F&tbnid=IneliLguZKJacM&vet=12ahUKEwj72K6Ut_L7AhV05skDHcZvAesQMygmegUIARDOAg..i&docid=_nDkcbV-V8b5uM&w=1200&h=675&q=pizza&ved=2ahUKEwj72K6Ut_L7AhV05skDHcZvAesQMygmegUIARDOAg"height="200px" width="200px">
<br><br>

            <a class="btn btn-lg btn-outline-primary" href="{% url 'users:register' %}"
            role="button">Parooz the Pizzas &raquo;</a>
    </div>

{% endblock page_header %}