{% extends 'pizzas/base.html' %}


{% block content %}
<body bgcolor="lightblue"></body>
<font size="18"> Welcome to Tall-ee's</font>
<br><br><br>
<font size="6">We hope to provide you with the best pizzas with high quality
    ingredients. Find us in Waco, Texas. Ranked number 1 above Shorty's down the street! Travel through our page to find all of our options!</font>
<br><br>
<img src="https://img.cdn4dd.com/cdn-cgi/image/fit=contain,width=1200,height=672,format=auto/https://doordash-static.s3.amazonaws.com/media/photos/ba57d434-bbe9-48ad-9de8-cc5d539e83ca-retina-large.jpg"height="200px" width="200px">
<img src="https://www.papajohns.com/shaq/img/sar-hero.jpg"height="200px" width="200px">
<img src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2014/10/7/0/DV2103H_Shortys-Pizza-and-Smoked-Meat_s4x3.jpg.rend.hgtvcom.616.462.suffix/1412699454732.jpeg"height="200px" width="200px">
<br><br>


{% endblock content %}