
{% extends 'base.html' %} {% block content %}

{% for comment in comments %}

<div class="comments" style="padding: 15px;">
<p class='font-weight-bold'>
    {{ comment.name }}
    <span class=" text-muted font-weight-normal">
        {{ comment.created_on }}

    </span></p>
    {{ comment.body | linebreaks }}

    </div>
    {{% endfor %}}
<div class="card-body">
    <h3>Leave a comment</h3>
    <form method="pizza" style="margin-top: 1.3em;">
        {{ comment_form.as_p}}
        {% csrf_token %}
        <button type="submit" class="btn btn-primary btn-lg">Submit Comment</button>

    
    </form>
</div>
